.admin {
   .users {
      .editable {
         display: flex;
         justify-content: space-around;
         align-items: center;
         .edit {
            opacity: 0;
            visibility: hidden;
         }
         &:hover .edit {
            opacity: 1;
            visibility: visible;
         }
      }
   }
   .center {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
