// Info.vue
.info {
   // padding-bottom: 15px;
   border-bottom: 1px solid $light-gray;

   .title {
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      display: block;
   }

   .text {
      margin-bottom: 5px;
      color: $text-color;
      font-size: 18px;
   }

   .value {
      font-family: 'Share Tech Mono', sans-serif;
   }

   .sub-info {
      color: darken($light-gray, 30%);
   }

   // .alert-message {
   //    color: #b51a1a;
   //    font-weight: bold;
   //    font-size: 12px;
   //    padding-left: 10px;
   // }
}

// Controls.vue
.controls {
   padding-top: 15px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   .control-btns {
      margin-top: 8px;
      display: flex;
      gap: 20px;
      button {
         display: flex;
         height: 40px;
         width: 40px;
         align-items: center;
         justify-content: center;
      }
   }
}

// Board.vue
.game-board {
   display: flex;
   justify-content: center;
   align-items: center;
}
.minesweeper-grid {
   background-color: $grid-bg-color;
   border: 10px solid $grid-border-color;

   .cells {
      display: flex;
      flex-wrap: wrap;
   }

   .cell {
      border: 5px solid;
      border-color: $cell-border-color;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
         background-color: $cell-hover-color;
      }     
      
      &.revealed {
         border: 1px solid $cell-revealed-border-color;
      }

      &.blue {
         color: $blue;
      }

      &.green {
         color: $green;
      }

      &.yellow {
         color: $yellow;
      }

      &.orange {
         color: $orange;
      }

      &.red {
         color: $red;
      }

      &.yellowHighlight {
         @include cellHighlight($yellowHighlight);
      }

      &.orangeHighlight {
         @include cellHighlight($orangeHighlight);
      }

      &.redHighlight {
         @include cellHighlight($redHighlight);
      }
   }
}
