// Fonts
$font-family: 'Open Sans', sans-serif;

// Colors
$cell-border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
$cell-revealed-border-color: #bdb8a5;
$grid-bg-color: #dcd6bc;
$grid-border-color: #cac5b0;
$cell-hover-color: #8d8d8d9a;
$result-bg-color: #0e0e0e9e;
$blue: #2c2c8b;
$green: #216d1e;
$yellow: #c4a914;
$orange: #d66f0e;
$red: #e3342f;
$yellowHighlight: #aa9312;
$orangeHighlight: #bd610c;
$redHighlight: #831d1d;
$white: #eeebeb;

$light-gray: #cecece;
$text-color: #333333;

$header-height: 70px;
