// Fonts
$font-family: 'Open Sans', sans-serif;

// Colors
$cell-border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
$grid-bg-color: #dcd6bc;
$grid-border-color: #cac5b0;
$cell-hover-color: #838186;
$blue: #2c2c8b;
$green: #216d1e;
$yellow: #c4a914;
$orange: #d66f0e;
$red: #e3342f; // 8d2323
$yellowHighlight: #aa9312;
$orangeHighlight: #bd610c;
$redHighlight: #831d1d;

$light-gray: #cecece;
$text-color: rgb(51, 51, 51);

$header-height: 70px;
